doctype html
html
  head
    script(src='/data/lib/head.load.min.js', data-headjs-load='/data/build/js/main.min.js')
    title !{title}
  body
    #loading-screen
    #full-screen(style='display:none')
      a.header(href='/')
        img(src='/data/img/icon.png', height='100px', width='100px')
        p Axiom

      //ul.nav
      //  each menulink in menulinks
      //    !=t.getPageLink(menulink)

      - var loadPage = (content ? 'false' : 'true')
      #page(current=current, loadPage=loadPage)
        - if (content)
          !=content
      #page-hidden(style='display:none')

    