
.main-content
  .page-content
    h1 About
    br
    p This website aims to offer a place for collaborative reasoning.
    br
    p Internet debate lacks of structure.
    p Forums and threads are linear place where confusion and repetition are blocking every opportunity of thinking together, especially when a large number of people is involved. Our goal here is to point out wich element is relevant, and wich element as been told already. In that way, anyone will be able to contribute to any reasoning by bringing structure to the data.
    p For each reasoning, the website will provide a graphical idea of what is going on. The interface will tend to be as simple and as clear as possible.
    br
    p If you are interested in any way, feel free to contact me at hlkz@hotmail.fr.
    p Thanks for the reading, I hope we see you soon,
    br
    p Hlkz
